/* line 4, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/products.scss */
th {
  padding: 0 5px 7px;
}

/* line 8, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/products.scss */
td {
  border: solid 1px grey;
}

/* line 13, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/products.scss */
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}

/* line 19, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/products.scss */
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}

/* line 21, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/products.scss */
.apple_pagination .disabled {
  color: #aaaaaa;
}

/* line 23, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/products.scss */
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

/* line 35, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/products.scss */
.apple_pagination a {
  text-decoration: none;
  color: black;
}

/* line 38, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/products.scss */
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}
/* line 1, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 5, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/simple_pages.scss */
body {
  padding-top: 70px;
}

/* line 9, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/simple_pages.scss */
.welcome {
  color: #347b82;
  margin-left: 5%;
}

/* line 16, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/simple_pages.scss */
.carousel-inner > .item > img {
  width: 100%;
}

/* line 23, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/simple_pages.scss */
.active {
  background-color: #714caf;
  color: #d3dff0;
}

/* line 28, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/simple_pages.scss */
a:hover {
  background-color: #ddd;
  color: #0f4d9f;
  border-bottom: 2px solid blue;
}

/* line 34, /home/ubuntu/workspace/cf_shop/app/assets/stylesheets/simple_pages.scss */
.navbar, footer {
  background-color: #86d8e0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


 
