 <div class="col-sm-2 col-md-4">
  <%= image_tag(order.product.image_url, class: "img-responsive") %>
  <h1><a herf=<%= link_to order.product.name, order.product %><h1></a></h1>
  <h1><a herf=<%= link_to "See Details", order %></a></h1>
  <strong>Price: $ <%= order.product.price %></strong>
</div><!-- /col -->