<div class="product-reviews">
    <% @comments = Comment.paginate(:page => params[:page], :per_page => 5 ).as_created %>
    <% @comments.each do |comment| %>
        <%= render comment %>
    <% end %>
</div>
<hr>
<div class="apple_pagination">
    <%= will_paginate @comments%>
    
    <div class="page_info">
      <%= page_entries_info @comments %>
    </div>
</div>