
<div class="product-reviews">
<% @comments.each do |comment| %>
    <%= render comment %>
<% end %>
<div class ="pagination">
<p> <%= will_paginate @comments, class: "apple_pagination" %></p>
</div>
</div>
