<%if @product.comments.any?%>
  <%@product.highest_rating.rating.times do %>
    <span class="glyphicon glyphicon-star"></span>
  <%end%>
  <p>
  <%= @product.highest_rating.body %> 
  </p>
  <%@product.lowest_rating.rating.times do %>
    <span class="glyphicon glyphicon-star"></span>
  <%end%>
  <p>
  <%= @product.lowest_rating.body %> 
  </p>
<%end%>